body {
    background: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

::selection {
    background-color: #fec107;
    color: #ffffff;
}

a {
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #161614;
}

.hero__section {
    background-image: url(../img/header_tejedoras.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: right;
    text-shadow: 2px 3px 2px #707070;
    height: 300px;
    margin-bottom: 30px;
}

.contenido {
    background-color: #ffffff !important;
    color: #707070;
    font-size: 14px;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 2rem;
}

.aside {
    background-color: #ffffff !important;
    font-size: 13px;
    text-align: start;
    margin-bottom: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #000F08;
    padding: 70px 0px 20px 0px;
    color: #ffffff;
}

.link_footer {
    color: #707070;
    text-align: center;
    margin-top: 20px;
}

.quote {
    text-align: center;
    color: #b388fe;
    font-size: medium;
}

i {
    color: #ffffff;
    margin: 0px 10px;
}

.i_herramientas {
    color: #b388fe;
}

.icono {
    width: 2rem;
}

.icono svg {
    fill: #ffffff;
}

p {
    color: #707070;
    text-align: start;
    margin: 1rem 0rem;
}

.img {
    display: block;
    margin: auto;
}

.img_content {
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    justify-content: center;
    width: 100%;
}

.img_content_large {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button_mobile_content {
    display: flex; 
    justify-content: center;
}

.button_mobile {
    background-color: #c83643 !important;
    color: #ffffff !important;
    width: 50%;
    display: flex; 
    justify-content: center;
}

.informacion {
    border-left: #26cad3 solid 20px;
    padding: 5px 20px;
}

h1 {
    background-color: #000000 !important;
    color: #ffffff;
    height: 100px;
    width: 380px;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 40px;

}

h2 {
    color: #707070;
    font-size: 2rem;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 1rem;
    margin: 1rem;
    border-left: #b388fe solid 20px;
}

h3 {
    color: #707070;
    font-size: 1,5rem;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 1rem;
    margin: 1rem;
}

h4 {
    color: #707070;
    font-size: 1,2rem;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 2rem;
}

h5 {
    color: #707070;
    font-size: 1,5rem;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 2rem;
}

